---
import Layout from "../layouts/Layout.astro";
import { slide } from 'astro:transitions';
---

<Layout>
    <section transition:animate="slide" class="md:px-20  px-4 py-18">

        <h1>About Page</h1>
    </section>
</Layout>