---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import { slide } from 'astro:transitions';

const posts = await getCollection("posts")

// console.log(posts)
---

<Layout>
    <section class="md:px-20  px-4 py-18" transition:animate="slide">
        <h1 class="text-2xl pb-8">Blog</h1>
        
        <ul>
            {
                posts.map(post => (
                    <li class="mb-4 text-xl text-blue-500">
                    <a href={`/blog/${post.slug}`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</section>
</Layout>