---
import '../styles/global.css';
import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<ClientRouter/>
		<title>Astro Lesson 1</title>
	</head>
	<body>
        <h1>Header</h1>
		<slot />
        <h1>Footer</h1>
	</body>
</html>


